.sentence1{
  font-size: 20;
  background: #fe6347;
  margin-bottom: 10px;
}
.sentence2{
  font-size: 20;
  background: #fea500;
  margin-bottom: 10px;
}
.sentence3{
  font-size: 20;
  background: #1e90ff;
  margin-bottom: 10px;
}
.sentence4{
  font-size: 20;
  background: #3cb371;
  margin-bottom: 10px;
}
.sentence5{
  font-size: 20;
  background: #808080;
  margin-bottom: 10px;
}
.sentence6{
  font-size: 20;
  background: #6b5acd;
  margin-bottom: 10px;
}
.sentence7{
  font-size: 20;
  background: #ee82ef;
  margin-bottom: 10px;
}
